---
import Divider from "../Divider.astro";
import Section from "./Section.astro";
import {mainData} from "../../content/config";
---
<main class={"px-16 py-20 flex flex-col flex-1 h-full gap-10 border-l-4 border-zinc-800"}>
    <h1 class={"text-6xl font-bold"}>Egor Muzychkin</h1>
    <Divider color={"dark"}/>
    <Section title={"Objective"}>
        <p><strong>{mainData.objective.name}</strong>: {mainData.objective.positionValue}.</p>
    </Section>
    <Section title={"Education"}>
        <p class={"text-xl"}>{mainData.education.university}.</p>
        {mainData.education.data.map(item => <p><strong>{item.name}</strong>: {item.body}.</p>)}
    </Section>
    <Section title={"Experience"}>
        {mainData.experience.map(experience =>
                <h3 class="text-2xl font-semibold mb-2 mt-3">{experience.position}
                    ({experience.duration}{experience.company && ` — ${experience.company}`})</h3>
                <p>{experience.description}</p>
        )}
    </Section>
    <Section title={"Skills"}>
        <h3 class="text-2xl font-semibold mb-1">Language skills</h3>
        {mainData.skills.languages.map(lang => <p>{lang.name} / <span class="text-zinc-400">{lang.level}</span></p>)}
        <h3 class="text-2xl font-semibold mt-3 mb-2">Technologies</h3>
        <h4 class="text-xl font-semibold mb-1">Programming</h4>
        {mainData.skills.technologies.programming.map(techList => <p>{techList.tools.join(", ")}</p>)}
        <h4 class="text-xl font-semibold mb-1">Others</h4>
        <p>{mainData.skills.technologies.others.join(", ")}</p>
    </Section>
</main>
