---
import Divider from "../Divider.astro";
import Section from "./Section.astro";
import {useTranslations} from "../../i18n/utils";
import Education from "./sections/Education.astro";
import Experience from "./sections/Experience.astro";
import Skills from "./sections/Skills.astro";
const t = useTranslations(Astro)
---
<main class={"px-5 sm:px-10 py-12 md:px-16 md:py-20 flex flex-col flex-1 h-full gap-10 md:border-l-4 border-zinc-800"}>
    <h1 class={"text-5xl sm:text-6xl font-bold"}>{t.name}</h1>
    <Divider color={"dark"}/>
    <Section title={t.objective.title}>
        <p><strong>{t.objective.name}</strong>: {t.objective.value}.</p>
    </Section>
    <Education/>
    <Experience/>
    <Skills/>
</main>
