---
import Divider from "../Divider.astro";
import AboutItem from "./AboutItem.astro";
import {CONTACTS} from "../../content/config";
import ContactItem from "./ContactItem.astro";
import {Image} from "@astrojs/image/components"
import {useTranslations} from "../../i18n/utils";

const t = useTranslations(Astro)
---

<div class={"flex bg-zinc-800 dark:bg-zinc-950 text-zinc-100 dark:text-zinc-300 border-4 border-zinc-100 p-10 flex-1 md:max-w-lg "}>
    <div class="flex flex-1 flex-col gap-8">
        <div class={"flex-grow-0 self-start bg-zinc-500 w-40 h-40 rounded-full border-4 border-zinc-100 mx-auto flex items-center justify-center overflow-hidden"}>
            <Image src="/github_profile_pic 1.jpg" width={160} height={160} aspectRacio={1} alt="profile pic" />
        </div>
        <AboutItem title={t.about.title}>
            <p>{t.description}</p>
            {t.about.body.map(paragraph => <p>{paragraph}</p>)}

            <!--<p><strong>Date of birth</strong>: 29 may 2001.</p>-->
            <p><strong>{t.location.title}</strong>: {t.location.city}, {t.location.country}.</p>
        </AboutItem>
        <AboutItem title={t.contacts.title}>
            {t.contacts.list.map(contact =>
                    <ContactItem contact={contact}/>)}
        </AboutItem>
    </div>


</div>
