---
import { ExperienceItem } from "@i18n/translation";
import { useTranslations } from "@i18n/utils";
interface Props {
  item: ExperienceItem;
}

const { item } = Astro.props;
const t = useTranslations(Astro);
---

<li
  class={"flex flex-col gap-1 p-6 rounded-lg dark:shadow-lg flex-1 bg-slate-100 dark:bg-slate-900 border-2 border-slate-200 dark:border-slate-800 min-w-lg"}
>
  <h3 class={"text-2xl font-bold"}>
    {item.position} ( {t.format.distance(item.period)} – {item.company} )
  </h3>
  <span class={"text-xl text-slate-500 dark:text-slate-300 font-light"}
    >{t.format.period(item.period)}</span
  >
  <div class={"grid grid-cols-1 lg:grid-cols-2 gap-4"}>
    <p class={"max-w-md"}>{item.description}</p>
    <div class={"grid grid-cols-1 sm:grid-cols-2 gap-5"}>
      {
        item.responsibilities.length > 0 && (
          <div>
            <p class="text-xl">{t.experience.responsibilities}:</p>
            <ul class={"list-disc pl-5"}>
              {item.responsibilities.map((responsibility) => (
                <li>{responsibility}</li>
              ))}
            </ul>
          </div>
        )
      }
      {
        item.technologies.length > 0 && (
          <div>
            <p class="text-xl">{t.experience.responsibilities}:</p>
            <ul class={"list-disc pl-5"}>
              {item.technologies.map((tech) => (
                <li>{tech}</li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</li>
