---
import {ExperienceItem} from "../i18n/translation";
interface Props {
    item: ExperienceItem
}

const {item} = Astro.props;
---

<li class={"flex flex-col gap-1 p-6 rounded-lg shadow-lg flex-1 bg-slate-200 dark:bg-slate-900 border-2 border-slate-300 dark:border-slate-800 min-w-lg"}>
    <p class="text-2xl">
        {item.company}
    </p>
    <span></span>
    <h3 class="text-xl dark:text-slate-300 font-light">{item.position}</h3>
    {item.description.map(paragraph => <p>{paragraph}</p>)}
</li>
